body {
  background-color: antiquewhite;
}

.tommy {
  text-align: center;
  font-size: 60px;
  color: black;
}
.strol {
  float: left;
}

img {
  transition: 0.3s;
  border-radius: 20px;
}
img:hover {
  transform: scale(1.1);
}
.tablu {
  padding-left: 950px;
}
.abou {
  font-style: italic;
  font-size: 30px;
}

.floo {
  display: flex;
  flex-direction: column;
  line-height: 70px;
  padding-left: 500px;
  font-size: 20px;
}
a {
  color: black;
}
a:link {
  color: black;
  text-decoration: none;
}
a:hover {
  color: orange;
}
.troll {
  text-align: center;
  font-size: 60px;
  color: black;
}
