body {
  background-color: lightblue;
}

header {
  font-size: 30px;
}
.flats {
  display: flex;
  flex-direction: column;
  float: left;
}
p1 {
  line-height: 25px;
}
ul {
  line-height: 25px;
  font-size: 20px;
}
a {
  color: black;
}
a:link {
  text-decoration: none;
}
.bark {
  line-height: 8;
  padding-left: 60px;
  font-size: 20px;
}
.loree {
  font-size: 20px;
}
.bark:active {
  font-style: italic;
  color: red;
}
